export OPENRC_DIR={{ openrc_dir }}
export FC_OUTPUT_DIR={{ flexcap_dir }}

export FC_COLLECT_NOVA={{ collect_nova }}
export FC_COLLECT_SWIFT={{ collect_swift }}
export FC_COLLECT_CEPH={{ collect_ceph }}

export FC_CUSTOMER={{ account_number }}_{{ account_name }}
export FC_CLUSTER_ID={{ cluster_name }}

export FC_EMAIL_TO={{ flexcap_email_to_address }}
export FC_EMAIL_FROM={{ flexcap_email_from_address}}
export FC_EMAIL_USERNAME={{ flexcap_email_username }}
export FC_EMAIL_PASSWORD={{ flexcap_email_password }}
export FC_EMAIL_HOST={{ flexcap_email_host }}
export FC_EMAIL_PORT={{ flexcap_email_port }}
